<div class='slideshow-container'>
	<div class='slideshow'>
		<div class='search-form-holder'>
			<h3>Find Your Seattle Apartment</h3>
			<form>
				<select name='neighborhood'>
					<option value='Ballard'>Ballard</option>
					<option value='Fremont'>Fremont</option>
					<option value='Queene Anne'>Queene Anne</option>
					<option value='Capitol Hill'>Capitol Hill</option>
					<option value='Magnolia'>Magnolia</option>
				</select>
				<select name='size'>
					<option value='studio'>studio</option>
					<option value='bed1'>One Bedroom</option>
					<option value='bed2'>Two Bedroom</option>
					<option value='bed3'>Three Bedroom</option>
				</select>
				<select name='price'>
					<option value='u899'>Under $899</option>
					<option value='u1199'>$900 - $1,199</option>
					<option value='u1499'>$1,200 - $1,499</option>
					<option value='u1999'>$1,500 - $1,999</option>
					<option value='o2000'>$2,000 and up</option>
				</select>
			</form>
		</div>
	</div>
</div>
<div class='link-container'>
	<div class='link-box services'>
		<div class='col-head'><p>For Rent</p></div>
		<div class='col-links'>
			<a href=''>+ Now Available</a>
			<a href=''>+ Residential Properties</a>
			<a href=''>+ Commercial Properties</a>
			<a href=''>+ Application to Rent</a>
		</div>

	</div>	

	<div class='link-box resources'>
		<div class='col-head'><p>Resources</p></div>
		<div class='col-links'>
			<a href=''>+ Maintenance Request</a>
			<a href=''>+ Owner Login</a>
		</div>

	</div>

	<div class='link-box properties'>
		<div class='col-head'><p>Services</p></div>
		<div class='col-links'>
			<a href=''>+ Property Management</a>
			<a href=''>+ Bookkeeping/Leasing</a>
			<a href=''>+ Maintenance</a>
			<a href=''>+ Success Stories</a>
		</div>

	</div>

</div>


