<div class='page-wrapper'>
<div class='slideshow-container'>
	<div class='slideshow'>
		<div class='search-form-holder'>
			<h3>Find Your Seattle Apartment</h3>
			<form id='search_form'>
				<select name='neighborhood'>
<!-- 					<option value='Ballard'>Ballard</option>
					<option value='Capitol Hill'>Capitol Hill</option>
					<option value='Cascade Neighborhood'>Cascade Neighborhood</option>
					<option value='Central District'>Central District</option>
					<option value='Columbia City'>Columbia City</option>
					<option value='Eastlake'>Eastlake</option>

					<option value='Fremont'>Fremont</option>
					<option value='Leschi'>Leschi</option>
					<option value='Magnolia'>Magnolia</option>
					<option value='North Seattle'>North Seattle</option>
 -->
					<option value='Queen Anne'>Queen Anne</option>
<!-- 					<option value='South Lake Union'>South Lake Union</option>
					<option value='University District'>University District</option> -->
				</select>
				<select name='size'>
					<option value='studio'>Studio</option>
					<option value='bed1'>One Bedroom</option>
					<option value='bed2'>Two Bedroom</option>
					<option value='bed3'>Three Bedroom</option>
				</select>
				<select name='price'>
					<option value='u899'>Under $899</option>
					<option value='u1199'>$900 - $1,199</option>
					<option value='u1499'>$1,200 - $1,499</option>
					<option value='u1999'>$1,500 - $1,999</option>
					<option value='o2000'>$2,000 and up</option>
				</select>
				<div ng-click='submitForm()' class='submit-button'>
					Search!
					<!-- <img  src='/imgs/searchIcon.png' /> -->
				</div>
			</form>
		</div>
	</div>
</div>
<div class='content-container'>
	<h3>The Redside approach to Property Management ...</h3>
	<p>
		Welcome to Seattle's premiere Property Management company. Redside Partners Property Mananagement specializes in residential and commercial property management, serving the greater Seattle community including Bellevue, Redmond, and Shoreline.
	</p>
	<p>
		Use the search above to quickly find properties for rent in Seattle's most desireable neighborhoods. We have the perfect apartments or spaces for students, professionals, families, and businesses.
	</p>

</div>
<div class='link-container'>
	<span>Quick Links</span>
	<ul>
		<a><li>Residential For Rent</li></a>
		<a><li>Application to rent</li></a>
		<a><li>Maintenance Request</li></a>
		<a><li>Commercial Properties</li></a>
		<a><li>Success Stories</li></a>
	<ul>
</div>
<div class='fb-container'>
	<div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
</div>

</div>

<div class='featured-wrapper gradient-ie9'>

	<div class='featured-container page-wrapper'>
		<div ng-click="arrowClick('left')" class='arrow'><img src='/imgs/left.png' /></div>
		<div class='featured-listings'>
			<h3>Featured Seattle Properties</h3>
			<div ng-repeat='listing in listings' >
				<a class='featured-item' ng-href='#/seattle-residential/{{listing._id}}'>
					<h4>{{listing.title}}</h4>
					<span>{{listing.neighborhood}}</span>
					<img ng-src='/imgs/properties/{{listing.titleImg}}' />
				</a>
			</div>
		</div>
		<div ng-click="arrowClick('right')" class='arrow'><img src='/imgs/right.png' /></div>
	</div>

</div>
<div class='page-wrapper'>
	<div class='content-container owner-box'>
		<h4>The Best Name in Property Management</h3>
		<p>
			Do you own residential or commercial property in Seattle? Redside Property Management has a diverse and carefully selected portfolio of buildings. Focused on the bottom line, Redside Properties outperform market indicies based on revenue and vacany rates.
		</p>
		<p>
			Frequent site visits and progressive accounting mechanisms offers our property owners peace of mind and true value. Experience addressing a variety of property management concerns and goals for the future, makes Redside the obvious choice for Seattle Property Management.
		</p>

	</div>
	<div class='owner-info'>
		<h4>Ready to learn more?</h4>
		<p>Find out how Redside Partners can increase the visibility and profitablity of your property!</p>
		<a href='/property-owner-page'><span>Learn More</span></a>

	</div>
</div>

<div footer>
</div>
<!-- <div class='link-container'>
	<div class='link-box services'>
		<div class='col-head'><p>For Rent</p></div>
		<div class='col-links'>
			<a href=''>+ Now Available</a>
			<a href=''>+ Residential Properties</a>
			<a href=''>+ Commercial Properties</a>
			<a href=''>+ Application to Rent</a>
		</div>

	</div>	

	<div class='link-box resources'>
		<div class='col-head'><p>Resources</p></div>
		<div class='col-links'>
			<a href=''>+ Maintenance Request</a>
			<a href=''>+ Owner Login</a>
		</div>

	</div>

	<div class='link-box properties'>
		<div class='col-head'><p>Services</p></div>
		<div class='col-links'>
			<a href=''>+ Property Management</a>
			<a href=''>+ Bookkeeping/Leasing</a>
			<a href=''>+ Maintenance</a>
			<a href=''>+ Success Stories</a>
		</div>

	</div>

</div>



	<p>
		<em>Looking for a company to manage your rental property?</em> The Redside rental management team will exceed your expectations. We believe that by understanding the property owner's objectives, and aligning our goals with theirs, <i>we will get and keep good tenants at market rents.</i>
	</p>
 -->

