<div class='page-wrapper property-owner-page'>
	<h1>Commercial and Residential Property Management</h1>
	<div class='quote-container'>
		<img class='quote-img' src='/imgs/real-estate-woman.jpg' />

		<h4><span>"</span> Redside exceeded my expectations. Within months I saw an increase in tenant retention, a decrease in vacany rates, and a better bottom line.<span>"</span></h4>
		<p>- Jen from Ballard</p>
	</div>

	<div class='table-of-contents-container'>
		<div class='po-page'>
			<h3 ng-click='poPageClick($event)'>+ Overview</h3>
			<div class='po-page-content'>
				<h4>What We Do</h4>
					<p>Since 2002, Redside has managed multi-family and commercial buildings in the Seattle area. We help our clients build value one month at a time by relyingon a "hands on" approach to provide the best possible service. Our business is predicated on maintaining strong, long-term relationships with building owners and tenants.</p>
				<h4>How We Do It</h4>
					<p>Consistent attention to details and progressive thinking. The properties Redside manages consistently outperform market indices based on revenue and vacancy rates. We devote great people to solve problems and are not spread so thin that we cannot spend time on your investment. We are also focused on property management, we don’t have an leasing or sales group too. Redside knows the market and consults with owners on strategic opportunities. We also offer benefits usually reserved to larger companies, such as a group insurance program.</p>
			</div>
		</div>

		<div class='po-page'>
			<h3 ng-click='poPageClick($event)'>+ Property Management</h3>

		</div>
		<div class='po-page'>
			<h3 ng-click='poPageClick($event)'>+ Bookkeeping / Leasing</h3>

		</div>
		<div class='po-page'>
			<h3 ng-click='poPageClick($event)'>+ Maintenance / Renovation</h3>

		</div>
		<div class='po-page'>
			<h3 ng-click='poPageClick($event)'>+ Success Stories</h3>
		</div>

	</div>

	
</div>
<div class='table-of-contents-wrapper'>
	<div class='page-wrapper'>

	</div>
</div>
<div class='property-full-wrapper'>
	<div class='page-wrapper property-owner-page'>


	</div>

</div>
<div footer>
</div>