<div class='page-wrapper property-owner-page'>
	<h1>Commercial and Residential Property Management</h1>
	<div class='quote-container'>
		<img class='quote-img' src='/imgs/real-estate-woman.jpg' />

		<h4><span>"</span> Redside exceeded my expectations. Within months I saw an increase in tenant retention, a decrease in vacany rates, and a better bottom line.<span>"</span></h4>
		<p>- Jen from Ballard</p>
	</div>
	<div class='fb-container'>
		<div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
	</div>
	<div class='table-of-contents-container'>
		<div class='po-page'>
			<h3 ng-click='poPageClick($event)'>+ Overview</h3>
			<div class='po-page-content'>
				
					<p>
						<span>What We Do</span>
						Since 2002, Redside has managed multi-family and commercial buildings in the Seattle area. We help our clients build value one month at a time by relyingon a "hands on" approach to provide the best possible service. Our business is predicated on maintaining strong, long-term relationships with building owners and tenants.
					</p>
					<p>
						<span>How We Do It</span>
						Consistent attention to details and progressive thinking. The properties Redside manages consistently outperform market indices based on revenue and vacancy rates. We devote great people to solve problems and are not spread so thin that we cannot spend time on your investment.
						<br />
						<br />
						We are also focused on property management, we don’t have an leasing or sales group too. Redside knows the market and consults with owners on strategic opportunities. We also offer benefits usually reserved to larger companies, such as a group insurance program.
					</p>
			</div>
		</div>

		<div class='po-page'>
			<h3 ng-click='poPageClick($event)'>+ Property Management</h3>
			<div class='po-page-content'>
				
					<p>
						<span>What We Do</span>
						Since 2002, Redside has managed multi-family and commercial buildings in the Seattle area. We help our clients build value one month at a time by relyingon a "hands on" approach to provide the best possible service. Our business is predicated on maintaining strong, long-term relationships with building owners and tenants.
					</p>
					<p>
						<span>How We Do It</span>
						Consistent attention to details and progressive thinking. The properties Redside manages consistently outperform market indices based on revenue and vacancy rates. We devote great people to solve problems and are not spread so thin that we cannot spend time on your investment.
						<br />
						<br />
						We are also focused on property management, we don’t have an leasing or sales group too. Redside knows the market and consults with owners on strategic opportunities. We also offer benefits usually reserved to larger companies, such as a group insurance program.
					</p>
			</div>

		</div>
		<div class='po-page'>
			<h3 ng-click='poPageClick($event)'>+ Bookkeeping / Leasing</h3>
			<div class='po-page-content'>
				
					<p>
						<span>Redside provides customized reporting that meets owner’s needs.</span>
						The accounting software and reporting mechanisms used for property management today are all mature enough to provide reams of data. In addition to operating statements, budget comparisons, and bank statements we provide monthly customized reports, which suit your needs. And we’re happy to provide this in an electronic format or through the mail.
						<br />
						<br />
						In addition, we provide a number of other bookkeeping services. We can set-up monthly automatic disbursements directly into owner’s bank accounts. We can establish a reserve account for tax and insurance payments, and Redside also directly handles payroll for on-site employees, saving the time and costs associated with outsourced payroll services.

					</p>
					<p>
						<span>Leasing</span>
						When an apartment turns over, we plan efficiently. If the apartment doesn’t require any work we show it before the tenant moves. If it needs paint or more work we plan efficiently and get painters in as quickly as possible.
						<br />
						<br />
						Most of our marketing to prospective tenants is through the Internet. We differentiate our “product” from other management companies with consistent updates and great pictures. Refreshing ads and getting great “stock” apartment pictures isn’t difficult—it just takes a little more effort. We encourage you to go to Craig’s List and search “Redside Partners” to see for yourself.
					</p>
			</div>
		</div>
		<div class='po-page'>
			<h3 ng-click='poPageClick($event)'>+ Maintenance / Renovation</h3>
			<div class='po-page-content'>
				
					<p>
						<span>Small changes can significantly alter the look or appeal of a property for tenants or future owners.</span>
						For example, do cabinets need to be updated? Is a bathroom floor at the end of its useful life? In some cases more significant remodeling or refurbishing is required to maximize value.
						<br />
						<br />
						Redside has significant experience with both small alterations and significant renovations. We are also a licensed contractor with a maintenance staff for small remodels and apartment turns; and we have excellent contacts in the various trades such as plumbing, electrical, roofing, heating, etc.

					</p>
					<p>
						We have also been involved with larger projects where apartments have been gutted, commercial storefronts replaced, or where entire buildings have been retrofitted for modern earthquake standards. In such cases we work closely with General Contractors, structural engineers, and architects.
					</p>
			</div>
		</div>
		<div class='po-page'>
			<h3 ng-click='poPageClick($event)'>+ Success Stories</h3>
		</div>

	</div>

	
</div>
<div class='table-of-contents-wrapper'>
	<div class='page-wrapper'>

	</div>
</div>
<div class='property-full-wrapper'>
	<div class='page-wrapper property-owner-page'>


	</div>

</div>
<div footer>
</div>