
.slideshow {
	background-image: url('/imgs/seattle-skyline.png');
	width: 100%;
	height:324px;
	position: relative;
	padding: 0;
	background-repeat: no-repeat;
}

.slideshow-container {
	width:94%;
	float:left;
	margin:20px 2% 0 4%;
}


.search-form-holder {
	position: absolute;
	bottom:15px;
	left:5%;
	width:84%;
	background-color: rgba(137, 29, 42, .78);
	padding:10px 3%;
	border-radius: 10px;
}

.search-form-holder form {
	margin:0;
}

.search-form-holder select {
	padding:5px 2%;
	border: 1px solid #CCCCCC;
	width:26%;
	margin: 0 1%;
	float: left;
}

.search-form-holder h3 {
	color:white;
	width:100%;
	text-align: right;
	padding:0;
	margin: 0 0 10px 0;
	font-size: 16px;
}

.content-container {
	/*width:69.36363636%;*/
	width:66%;
	float:left;
	margin:0 0 0 4%;
}

.content-container h3 {
	float:left;
	font-size: 24px;
	color: #AAAAAA;
}


.content-container em {
	font-weight: bold;
}

.content-container p:first-child {
	/*margin-left: 2%;*/
}
.content-container p {
	line-height: 1.5em;
	float: left;
	margin:0 2%;
	text-align: center;
	width:46%;
}


.link-container {
	width: 26%;
	/*width: 22.63636364%;*/
	float:right;
	margin:20px 2% 0 0;

	padding: 10px 0;
}

.link-container span {
	width:66%;
	margin: 0 17%;
	padding: 8px 0;
	float:left;
	text-align: center;
	color: #CCCCCC;
	font-style: italic;
	border-bottom: 1px solid #CCCCCC;
}

.link-container ul {
	float:left;
	margin:0;
	padding:0;
	list-style: none;
}


.link-container li {
	margin: 0 2% 0 2%;
	padding: 12px 0;
	font-size: 15px;
	float: left;
	width: 95%;
	text-align: center;
}

.link-container a {
	color:rgb(71, 71, 255);
}

.submit-button {
	padding: 5px 20px;
	background-color: rgb(0, 102, 231);
	height: 20px;
	float: right;
	border-radius: 8px;
	color: white;
	font-weight: bold;
	box-shadow: 2px 2px 2px #AAAAAA;
	margin-right:1%;
}


.arrow:first-child {
	float: left;

}

.arrow {
	width:4%;
	height:360px;
	padding:0 1%;
	/*background-color: #E4E4E4;*/
	float: right;
}

.arrow:hover {
	background-color: rgba(126, 193, 255, 0.3);

}

.arrow img {
	width:100%;
	margin-top:140px;
	float:left;
	height:40px;
}

.featured-wrapper {
	width:100%;
	float:left;
	border-top: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	background-color: rgb(254, 255, 224);
	margin:40px 0;
}

.featured-listings {
	width: 88%;
	float: left;
	/*background-color: rgba(252, 255, 215, 0.9);*/
	/*background-color: #FCFFEC;*/
	height:360px;

}

.featured-container {
	overflow-y:hidden;
}


.featured-container h3 {
	margin:0;
	width: 100%;
	float: left;
	padding:20px 0 15px 0;
	text-align: center;
	color:rgba(137, 29, 42, 1);
}

.featured-item {
	width: 33%;
	float:left;
	padding-bottom: 30px;
}

.featured-item:hover {
	background-color: rgba(126, 193, 255, 0.3);
}

.featured-item h4, .featured-item span, .featured-item img {
	width:85%;
	margin: 5px 7.5%;
	float: left;
}

.featured-item h4 {
	font-size: 16px;
	font-weight: normal;
}

.featured-item span {
	font-size: 15px;
	font-style: italic;
	padding-left: 10px;
}

.featured-item img {
	height:220px;
	box-shadow: 1px 1px 2px #CCCCCC;
}
