body {
	max-width:1100px;
	min-width:340px;
	margin-left: auto;
	margin-right: auto;
	font-size: 16px;
	font-family: 'verdana';
}

#header {
	float:left;
	width: 98%;
	margin:10px 2% 0 0;
}

#header h2 {
	font-style: italic;
	font-size: 16px;
	margin:20px  0 0 10%;
	font-weight: normal;
}

#header span {
	font-size: 23px;
	font-weight: bold;
	float:right;
	margin-top:8px;
}

#header img, h2 {
	float:left;
}

#page {
	float:left;
	width: 100%;
}

.relative {
	position: relative;
}

.fleft {
	float: left;
}


#footer  {
	float:left;
	width: 100%;
	border-top: 1px solid #CCCCCC;
	margin:80px 0;
}