body {
	max-width:1200px;
	margin-left: auto;
	margin-right: auto;
	font-size: 16px;
	font-family: 'verdana';
}

#header {
	float:left;
	width: 100%;
}

#header h2 {
	font-style: italic;
	font-size: 16px;
	margin:15px  0 0 10%;
	font-weight: normal;
}

#header span {
	font-size: 23px;
	font-weight: bold;
	float:right;
	margin-top:8px;
}

#header img, h2 {
	float:left;
}

#page {
	float:left;
	width: 100%;
}

.relative {
	position: relative;
}

.fleft {
	float: left;
}

.slideshow {
	background-image: url('/imgs/building.jpg');
	width: 63.58333333%;
	margin:20px 0 0 4%;
	height:324px;
	position: relative;
}

.search-form-holder {
	position: absolute;
	bottom:15px;
	left:5%;
	width:80%;
	background-color: rgba(137, 29, 42, .78);
	padding:10px 5%;
	border-radius: 10px;

}

.search-form-holder form {
	margin:0;
}

.search-form-holder select {
	padding:5px 10px;
	border: 1px solid #CCCCCC;
}

.search-form-holder h3 {
	color:white;
	/*float:right;*/
	width:100%;
	text-align: right;
	/*font-style: italic;*/
	padding:0;
	margin: 0 0 10px 0;
	font-size: 16px;
}