.property-owner-page h1 {
	width: 96%;
	float: left;
	margin-top: 40px;
	color: #FFFFFF;
	padding: 15px 2%;
	font-weight: normal;
	background-color: rgba(137, 29, 42, .78);
	font-size: 23px;
	border-radius: 0 20px 20px;
	
}

.quote-container {
	width: 100%;
	float:left;
	margin-top: 60px;
}

.quote-container h4 {
	color:blue;
	text-align: right;
	font-style: italic;
	font-weight: normal;
	color: #AAAAAA;
	font-size: 23px;
	margin-left:4%;
	margin-right:0;
	margin-top:80px;
	line-height: 1.5em;
	padding:0;
	width: 60%;

	float:left;
	
}

.quote-container h4>span {
	font-size: 30px;
}

.quote-container p {
	text-align:right;
	color: #AAAAAA;
	margin:0;
	width: 64%;

	float:left;

}

.quote-img {
	float:right;
	width:33%;
}

.table-of-contents-container {
	float: left;
	width:100%;
	/*margin:0 20%;*/
	padding:40px 0;
}


/*.table-of-contents-container ul {
	list-style: none;
	margin:0;
	padding:0;
	float:left;
	width:100%;
	background-color: #FFFFFF;
}*/
/*
.table-of-contents-container li {
	display: inline;
	float:left;
	width: 80%;
	margin:15px 10%;
}*/


.po-page {
	float:left;
	width:92%;
	margin-left: 8%;
	/*padding:20px 0;*/
	/*margin:40px 0;*/
}

.po-page h3 {
	float:left;
	width: 92%;
	padding:20px 4%;

	/*border-bottom: 1px solid #CCCCCC;*/
	font-weight: normal;
	margin:15px 0;
	font-size: 18px;


	background-color: rgba(0, 102, 231, .3);

	color:white;
}

.po-page h3:hover {
	background-color: rgba(0, 102, 231, 1);
}

.po-page-content span {
	float: left;
	width:100%;
	margin-bottom: 5px;
	text-align: center;
	font-weight: bold;
}

.po-page-content {
	display: none;
	float:left;
	width:100%;
	padding:15px 0 20px 0;
}

.po-page-content p {
	float: left;
	width: 42%;
	margin: 0 4%;
	line-height: 1.5em;
}


.po-active {
	background-color: rgba(0, 102, 231, .2) !important;
	color:#AAAAAA !important;
}