.property-owner-page {
	
}

.quote-container {
	width: 100%;
	float:left;
	margin-top: 60px;
}

.quote-container h4 {
	color:blue;
	text-align: right;
	font-style: italic;
	font-weight: normal;
	color: #AAAAAA;
	font-size: 23px;
	margin-left:4%;
	margin-right:0;
	margin-top:80px;
	line-height: 1.5em;
	padding:0;
	width: 60%;

	float:left;
	
}

.quote-container h4>span {
	font-size: 30px;
}

.quote-container p {
	text-align:right;
	color: #AAAAAA;
	margin:0;
	width: 64%;

	float:left;

}

.quote-img {
	float:right;
	width:33%;
}

.table-of-contents-container {
	float: left;
	width:100%;
	/*margin:0 20%;*/
	padding:40px 0;
}


/*.table-of-contents-container ul {
	list-style: none;
	margin:0;
	padding:0;
	float:left;
	width:100%;
	background-color: #FFFFFF;
}*/
/*
.table-of-contents-container li {
	display: inline;
	float:left;
	width: 80%;
	margin:15px 10%;
}*/


.po-page {
	float:left;
	width:100%;
	/*padding:20px 0;*/
	/*margin:40px 0;*/
}

.po-page h3 {
	float:left;
	width: 76%;
	padding:30px 12%;
	/*border-bottom: 1px solid #CCCCCC;*/
	font-weight: normal;
	margin:15px 0;
	font-size: 18px;


	background-color: rgba(0, 102, 231, .3);

	color:white;
}

.po-page h3:hover {
	background-color: rgba(0, 102, 231, 1);
}

.po-page h4 {
	float: left;
	width:92%;
	margin: 20px 8% 0 8%;
}

.po-page p {
	float: left;
	width: 84%;
	margin-left: 12%;
}

.po-page-content {
	display: none;
}

.po-active {
	background-color: rgba(0, 102, 231, .2) !important;
	color:#AAAAAA !important;
}