@media screen and (max-width: 700px) {

	.content-container {
		width:100%;
		margin:0 0 0 0;
	}

	.content-container p, .content-container h3 {
		width:92%;
		margin-right:4%;
		margin-left:4%;
		margin-top:15px;
		text-align: left;
	}

	.content-container p:first-child {

		font-style: italic;
		text-align: center;
		width:92%;
		margin-right: 4%;
		margin-left: 4%;
	}

	.link-container {
		width:92%;
		margin-right: 4%;
		margin-left: 4%;
		/*border-radius: 8px;*/
	}

	.arrow {
		width:6%;
	}

	.featured-listings {
		width: 84%;
	}
	
	.featured-item {
		width: 100%;
	}

	#footer li {
		width:50%;
		margin:15px 0;
	}

}