@media screen and (max-width: 860px) {
	#header h2 {
		width:100%;
		text-align: center;
	}

	#header img {
		text-align: center;
		display: block;
		margin: 0 auto;
		float:none;
	}

	.search-form-holder {
		left:2%;
		width:90%;
		background-color: rgba(137, 29, 42, .78);
		padding:10px 3%;
		border-radius: 10px;

	}
	.search-form-holder select {
		width:24%;
	}

	.featured-item {
		width: 50%;
	}

	.map-sidebar {
		width:50%;
	}
/*	.content-container {
		width:100%;
		margin: 30px 0 0 0;
	}

	.content-container p {
		width:29%;
		float: left;
		text-align: center;
		margin: 20px 2%;
		font-size: 15px;
	}

	.content-container p:first-child {
		margin: 20px 2%;
	}*/

/*	.link-container {
		width:66%;
		margin: 30px 17%;
	}

	.link-container li {
		width: 42%;
		margin-left: 6%;
		margin-right: 2%;
	}
*/
}
