@media screen and (max-width: 540px) {

	#header h2 {
		display:none;
	}

	.slideshow-container {
		width:100%;
		margin-right: 0;
		margin-left: 0;
	}

	.slideshow {
		margin-bottom: 240px;
	}

	.search-form-holder {
		top:324px;
		left:0;
		width:96%;
		height:200px;
		background-color: rgba(137, 29, 42, .9);
		padding:20px 2%;
		border-radius: 0;

	}

	.search-form-holder select, .submit-button {
		width:75%;
		margin:5px 12.5%;
	}

	.submit-button {
		padding: 10px 0;
		text-align: center;
	}

	.search-form-holder h3 {
		text-align: center;
	}

	.content-container p {
		text-align: justify;
		display: block;
	}

	.link-container {
		width:100%;
		margin-right: 0;
		margin-left: 0;
	}

	.arrow {
		width:8%;
	}

	.featured-listings {
		width: 80%;
	}

	.owner-info {
		width: 80%;
		margin-left: 10%;
	}

	.map-sidebar {
		width:85%;
	}

	#footer li {
		width:100%;
	}

	.residential-imgs img {
		width:46%;
		height:auto;
		float:left;
	}

}